* {
    font-family: "Times New Roman", Helvetica, sans-serif;
}


.recipe_name {
    color: red;
    background-color: black;
    font-size: 36px;
    font-family: sans-serif;
}

.recipe_image {
    height: auto;
    width: 500px;
}

.description_heading{
    color: rgb(14, 12, 12);
    background-color: greenyellow;
    font-size: 28px;
    font-style: italic;
}

.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.ingredients_heading{
    background-color: blanchedalmond;
    font-weight: bold;
    font-size: 24px;
}

.ingredients{
    font-style: oblique;
    font-weight: 600;
    background-color: bisque;
}

.steps_heading{
    background-color: rgb(168, 72, 59);
    font-weight: bold;
    font-size: 24px;
}

.steps{
    font-style: italic;
    font-size: 18px;
    background-color: bisque;
}